{
  "openapi": "3.0.0",
  "info": {
    "title": "products",
    "version": "1.0",
    "contact": {
      "name": "coke",
      "email": "team-coke@aftership.com"
    },
    "description": "products"
  },
  "servers": [
    {
      "url": "http://platform.automizelyAPI.com/suppliers/v1",
      "description": "Production_url"
    }
  ],
  "paths": {
    "/vendor-products": {
      "get": {
        "summary": "",
        "operationId": "get-v1-vendor-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "./common/model/meta.20000.v1.json"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/response.get.vendor-products"
                          }
                        },
                        "pagination": {
                          "$ref": "./common/model/pagination.v1.json"
                        },
                        "parameter_string": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "meta": {
                        "code": 20000,
                        "type": "OK",
                        "message": "Everything worked as expected."
                      },
                      "data": {
                        "parameter_string": "organization_id=5b4827cd0c72190e0036178003617822&app_name=returnscenter&app_platform=shopify&app_key=yy-01",
                        "products": [
                          {
                            "id": "9eee699559924f9db48eced2ae239544",
                            "external_vendor_product_id": "7445458",
                            "universal_id": "8eee699559924f9db48eced2ae239iii",
                            "supplier": {
                              "id": "uuid",
                              "name": "Eprolo",
                              "code": "eprolo"
                            },
                            "title": "Tea Cup 100x",
                            "body_html": "The best new cpu<br />New Product",
                            "categories": [
                              {
                                "id": "kiuee699559924f9db48eced2ae23987h",
                                "name": "Fashion",
                                "code": "fashion"
                              }
                            ],
                            "available_to_sell": true,
                            "accept_refund": true,
                            "accept_returns": true,
                            "brand": {
                              "name": "Lego"
                            },
                            "condition": "new",
                            "image_urls": [
                              "https://www.am-static.com/supplier/images/xxxxx"
                            ],
                            "shipping_prices": [
                              {
                                "variant_ids": [
                                  "9eee699559924f9db48eced2ae2395c3"
                                ],
                                "external_ecommerce_variant_ids": [
                                  "544454"
                                ],
                                "shipping_options": [
                                  {
                                    "external_option_id": "879923",
                                    "shipping_method": "ePacket",
                                    "country": "ALA",
                                    "shipping_time_sla": "2 - 3 Business days",
                                    "price": [
                                      {
                                        "unit": 1,
                                        "amount": 4,
                                        "currency": "USD"
                                      }
                                    ]
                                  }
                                ],
                                "metrics": {
                                  "updated_at": "2019-11-06T02:54:27+00:00"
                                }
                              }
                            ],
                            "options": [
                              {
                                "name": "Color",
                                "values": [
                                  "Black",
                                  "Greep",
                                  "Red"
                                ]
                              },
                              {
                                "name": "length",
                                "values": [
                                  "2m",
                                  "3m"
                                ]
                              }
                            ],
                            "variants": [
                              {
                                "id": "9eee699559924f9db48eced2ae2395c3",
                                "universal_id": "8eee699559924f9db48eced2ae239iii",
                                "external_vendor_variant_id": "544454",
                                "sku": "198762889",
                                "upc": "",
                                "ean": "",
                                "mpn": "",
                                "model": "VC74LI",
                                "title": "Tea Cup 100x Green",
                                "available_quantity": 12,
                                "warehouse": {
                                  "country": "HKG"
                                },
                                "price": {
                                  "amount": 100,
                                  "currency": "USD"
                                },
                                "unit": "1 pcs",
                                "weight": {
                                  "unit": "kg",
                                  "value": 120
                                },
                                "image_urls": [
                                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                                ],
                                "sort": 1,
                                "options": [
                                  {
                                    "name": "Color",
                                    "value": "Black"
                                  },
                                  {
                                    "name": "length",
                                    "value": "2m"
                                  }
                                ]
                              }
                            ],
                            "metrics": {
                              "updated_at": "2019-11-06T02:54:27+00:00",
                              "created_at": "2019-11-06T02:52:27+00:00"
                            },
                            "updated_at": "2019-11-06T02:54:27+00:00",
                            "created_at": "2019-11-06T02:52:27+00:00"
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "limit": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "am-api-key",
            "description": "Gateway api key"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "page",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "limit"
          }
        ],
        "tags": [
          "Api"
        ]
      },
      "post": {
        "summary": "POST /vendor-products",
        "operationId": "post-v1-vendor-products",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "./common/model/meta.20100.v1.json"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "product": {
                          "$ref": "#/components/schemas/response.get.vendor-products"
                        },
                        "parameter_string": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "meta": {
                        "code": 20100,
                        "type": "Created",
                        "message": "The request was successful, we created a new resource and the response body contains the representation."
                      },
                      "data": {
                        "product": {
                          "id": "9eee699559924f9db48eced2ae239544",
                          "external_vendor_product_id": "7445458",
                          "universal_id": "8eee699559924f9db48eced2ae239iii",
                          "supplier": {
                            "id": "uuid",
                            "name": "Eprolo",
                            "code": "eprolo"
                          },
                          "title": "Tea Cup 100x",
                          "body_html": "The best new cpu<br />New Product",
                          "categories": [
                            {
                              "id": "kiuee699559924f9db48eced2ae23987h",
                              "name": "Fashion",
                              "code": "fashion"
                            }
                          ],
                          "available_to_sell": true,
                          "accept_refund": true,
                          "accept_returns": true,
                          "brand": {
                            "name": "Lego"
                          },
                          "condition": "new",
                          "image_urls": [
                            "https://www.am-static.com/supplier/images/xxxxx"
                          ],
                          "shipping_prices": [
                            {
                              "variant_ids": [
                                "9eee699559924f9db48eced2ae2395c3"
                              ],
                              "external_ecommerce_variant_ids": [
                                "544454"
                              ],
                              "shipping_options": [
                                {
                                  "external_option_id": "879923",
                                  "shipping_method": "ePacket",
                                  "country": "ALA",
                                  "shipping_time_sla": "2 - 3 Business days",
                                  "price": [
                                    {
                                      "unit": 1,
                                      "amount": 4,
                                      "currency": "USD"
                                    }
                                  ]
                                }
                              ],
                              "metrics": {
                                "updated_at": "2019-11-06T02:54:27+00:00"
                              }
                            }
                          ],
                          "options": [
                            {
                              "name": "Color",
                              "values": [
                                "Black",
                                "Greep",
                                "Red"
                              ]
                            },
                            {
                              "name": "length",
                              "values": [
                                "2m",
                                "3m"
                              ]
                            }
                          ],
                          "variants": [
                            {
                              "id": "9eee699559924f9db48eced2ae2395c3",
                              "universal_id": "8eee699559924f9db48eced2ae239iii",
                              "external_vendor_variant_id": "544454",
                              "sku": "198762889",
                              "upc": "",
                              "ean": "",
                              "mpn": "",
                              "model": "VC74LI",
                              "title": "Tea Cup 100x Green",
                              "available_quantity": 12,
                              "warehouse": {
                                "country": "HKG"
                              },
                              "price": {
                                "amount": 100,
                                "currency": "USD"
                              },
                              "unit": "1 pcs",
                              "weight": {
                                "unit": "kg",
                                "value": 120
                              },
                              "image_urls": [
                                "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                              ],
                              "sort": 1,
                              "options": [
                                {
                                  "name": "Color",
                                  "value": "Black"
                                },
                                {
                                  "name": "length",
                                  "value": "2m"
                                }
                              ]
                            }
                          ],
                          "metrics": {
                            "updated_at": "2019-11-06T02:54:27+00:00",
                            "created_at": "2019-11-06T02:52:27+00:00"
                          },
                          "updated_at": "2019-11-06T02:54:27+00:00",
                          "created_at": "2019-11-06T02:52:27+00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/request.post.vendor-product"
              }
            }
          },
          "description": ""
        },
        "description": "Idempotency products save function .",
        "parameters": [],
        "tags": [
          "Api"
        ]
      },
      "parameters": []
    },
    "/products/{id}": {
      "patch": {
        "summary": "PATCH  /v1/products/{id}",
        "operationId": "patch-v1-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "./common/model/meta.20000.v1.json"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "$ref": "#/components/schemas/response.get.products"
                        },
                        "pagination": {
                          "$ref": "./common/model/pagination.v1.json"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response-example": {
                    "value": {
                      "meta": {
                        "code": 20000,
                        "type": "OK",
                        "message": "Everything worked as expected."
                      },
                      "data": {
                        "parameter_string": "organization_id=5b4827cd0c72190e0036178003617822&app_name=returnscenter&app_platform=shopify&app_key=yy-01",
                        "products": [
                          {
                            "id": "9eee699559924f9db48eced2ae239544",
                            "external_vendor_product_id": "7445458",
                            "universal_id": "8eee699559924f9db48eced2ae239iii",
                            "supplier": {
                              "id": "uuid",
                              "name": "Eprolo",
                              "code": "eprolo"
                            },
                            "title": "Tea Cup 100x",
                            "body_html": "The best new cpu<br />New Product",
                            "categories": [
                              {
                                "id": "kiuee699559924f9db48eced2ae23987h",
                                "name": "Fashion",
                                "code": "fashion"
                              }
                            ],
                            "tags": [],
                            "keywords": [],
                            "available_to_sell": true,
                            "accept_refund": true,
                            "accept_returns": true,
                            "brand": {
                              "name": "Lego"
                            },
                            "condition": "new",
                            "image_urls": [
                              "https://www.am-static.com/supplier/images/xxxxx"
                            ],
                            "shipping_prices": [
                              {
                                "variant_ids": [
                                  "9eee699559924f9db48eced2ae2395c3"
                                ],
                                "external_ecommerce_variant_ids": [
                                  "544454"
                                ],
                                "shipping_options": [
                                  {
                                    "external_option_id": "879923",
                                    "shipping_method": "ePacket",
                                    "country": "ALA",
                                    "shipping_time_sla": "2 - 3 Business days",
                                    "price": [
                                      {
                                        "unit": 1,
                                        "amount": 4,
                                        "currency": "USD"
                                      }
                                    ]
                                  }
                                ],
                                "metrics": {
                                  "updated_at": "2019-11-06T02:54:27+00:00"
                                }
                              }
                            ],
                            "options": [
                              {
                                "name": "Color",
                                "values": [
                                  "Black",
                                  "Greep",
                                  "Red"
                                ]
                              },
                              {
                                "name": "length",
                                "values": [
                                  "2m",
                                  "3m"
                                ]
                              }
                            ],
                            "variants": [
                              {
                                "id": "9eee699559924f9db48eced2ae2395c3",
                                "universal_id": "8eee699559924f9db48eced2ae239iii",
                                "external_vendor_variant_id": "544454",
                                "sku": "198762889",
                                "upc": "",
                                "ean": "",
                                "mpn": "",
                                "model": "VC74LI",
                                "title": "Tea Cup 100x Green",
                                "available_quantity": 12,
                                "warehouse": {
                                  "country": "HKG"
                                },
                                "price": {
                                  "amount": 100,
                                  "currency": "USD"
                                },
                                "unit": "1 pcs",
                                "weight": {
                                  "unit": "kg",
                                  "value": 120
                                },
                                "image_urls": [
                                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                                ],
                                "sort": 1,
                                "options": [
                                  {
                                    "name": "Color",
                                    "value": "Black"
                                  },
                                  {
                                    "name": "length",
                                    "value": "2m"
                                  }
                                ]
                              }
                            ],
                            "metrics": {
                              "updated_at": "2019-11-06T02:54:27+00:00",
                              "created_at": "2019-11-06T02:52:27+00:00"
                            },
                            "updated_at": "2019-11-06T02:54:27+00:00",
                            "created_at": "2019-11-06T02:52:27+00:00"
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "limit": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "./common/model/meta.40002.v1.json"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "examples": {
                  "Response Example": {
                    "value": {
                      "meta": {
                        "code": 20000,
                        "type": "OK",
                        "message": "Everything worked as expected."
                      },
                      "data": {
                        "parameter_string": "organization_id=5b4827cd0c72190e0036178003617822&app_name=returnscenter&app_platform=shopify&app_key=yy-01",
                        "products": [
                          {
                            "id": "sgsgsghgw",
                            "external_id": "2678030336085",
                            "app": {
                              "key": "yy-01",
                              "name": "postmen",
                              "platform": "shopify"
                            },
                            "organization": {
                              "id": "5b4827cd0c72190e00361782"
                            },
                            "title": "sfsfa",
                            "handle": "ipod",
                            "product_types": [
                              "fruit"
                            ],
                            "product_tags": [
                              "nut"
                            ],
                            "image_urls": [
                              "http://magento-2.2.8.aftershipdemo.com/pub/media/catalog/product/w/b/wb04-blue-0.jpg"
                            ],
                            "first_variant_price": {
                              "amount": 45,
                              "currency": "USD"
                            },
                            "product_url": "http://magento-2.2.8.aftershipdemo.com/pub/media/catalog/product/w/b/wb04-blue-0.jpg",
                            "description": "<b>Big</b> iPhone",
                            "taxable": true,
                            "collections": [
                              {
                                "id": "3fa19129b47444a59ad46795a63ebe92",
                                "external_id": "95497060437",
                                "title": "Customer Collection Test 001",
                                "collection_url": "https://yy-01.myshopify.com/collections/frontpage",
                                "collection_type": "custom_collection",
                                "description": null,
                                "image_url": "https://cdn.shopify.com/s/files/1/0097/9274/9653/collections/1200px-Coca-Cola_logo.svg_3fdc3965-ec23-483f-92b6-511e16068d0d.png?v=1574666800"
                              },
                              {
                                "id": "97e1da2f9ccc45afb6a898bf42f2d859",
                                "external_id": "156343861333",
                                "title": "Smart Collection Test 001",
                                "collection_url": "https://yy-01.myshopify.com/collections/smart-collection-test-001",
                                "collection_type": "smart_collection",
                                "description": null,
                                "image_url": "https://cdn.shopify.com/s/files/1/0097/9274/9653/collections/ezgif-5-3f139fe82b16.png?v=1574666860"
                              }
                            ],
                            "variants": [
                              {
                                "id": "000cc8ad258943d6bab462a4b2ec8e6e",
                                "external_id": "34542",
                                "title": "test-shirt",
                                "price": {
                                  "amount": 2.3,
                                  "currency": "USD"
                                },
                                "compare_at_price": {
                                  "currency": "USD",
                                  "amount": 80
                                },
                                "sku": "1002",
                                "available_quantity": 100,
                                "image_url": "https://cdn.shopify.com/s/files/1/0097/9274/9653/collections/ezgif-5-3f139fe82b16.png?v=1574666860",
                                "weight": {
                                  "unit": "kg",
                                  "value": 123
                                },
                                "options": [
                                  {
                                    "name": "Color",
                                    "value": "Black"
                                  },
                                  {
                                    "name": "Size",
                                    "value": "Small"
                                  }
                                ],
                                "allow_backorder": false
                              },
                              {
                                "id": "000cc8ad258943d6bab462a4b2ec8e5e",
                                "external_id": "34543",
                                "title": "test-shirt green",
                                "price": {
                                  "amount": "2.3",
                                  "currency": "USD"
                                },
                                "compare_at_price": {
                                  "currency": "USD",
                                  "amount": 80
                                },
                                "sku": "1003",
                                "available_quantity": 200,
                                "image_url": "https://cdn.shopify.com/s/files/1/0097/9274/9653/collections/ezgif-5-3f139fe82b16.png?v=1574666860",
                                "weight": {
                                  "unit": "kg",
                                  "value": 123
                                },
                                "options": [
                                  {
                                    "name": "Color",
                                    "value": "Black"
                                  },
                                  {
                                    "name": "Size",
                                    "value": "Small"
                                  }
                                ],
                                "allow_backorder": false
                              }
                            ],
                            "metrics": {
                              "created_at": "2019-12-23T01:13:30Z",
                              "updated_at": "2020-04-09T04:14:09Z"
                            },
                            "created_at": "2019-11-06T02:52:27+00:00",
                            "updated_at": "2019-12-19T09:13:09+00:00"
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "limit": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "./common/model/meta.50001.v1.json"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "examples": {
                  "Response Example": {
                    "value": {
                      "meta": {
                        "code": 50001,
                        "type": "InternalError",
                        "message": "Something went wrong on Automizely's end.  Also, some error that cannot be retried happened on an external system that this call relies on. "
                      },
                      "data": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "",
        "tags": [
          "Api"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/request.patch.products"
              },
              "examples": {
                "example": {}
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/products": {
      "get": {
        "summary": "GET /v1/products",
        "operationId": "get-v1-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "./common/model/meta.20000.v1.json"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "$ref": "#/components/schemas/response.get.products"
                        },
                        "pagination": {
                          "$ref": "./common/model/pagination.v1.json"
                        },
                        "parameter_string": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response-example": {
                    "value": {
                      "meta": {
                        "code": 20000,
                        "type": "OK",
                        "message": "Everything worked as expected."
                      },
                      "data": {
                        "parameter_string": "organization_id=5b4827cd0c72190e0036178003617822&app_name=returnscenter&app_platform=shopify&app_key=yy-01",
                        "products": [
                          {
                            "id": "9eee699559924f9db48eced2ae239544",
                            "external_vendor_product_id": "7445458",
                            "universal_id": "8eee699559924f9db48eced2ae239iii",
                            "supplier": {
                              "id": "uuid",
                              "name": "Eprolo",
                              "code": "eprolo"
                            },
                            "title": "Tea Cup 100x",
                            "body_html": "The best new cpu<br />New Product",
                            "categories": [
                              {
                                "id": "kiuee699559924f9db48eced2ae23987h",
                                "name": "Fashion",
                                "code": "fashion"
                              }
                            ],
                            "tags": [],
                            "keywords": [],
                            "available_to_sell": true,
                            "accept_refund": true,
                            "accept_returns": true,
                            "brand": {
                              "name": "Lego"
                            },
                            "condition": "new",
                            "image_urls": [
                              "https://www.am-static.com/supplier/images/xxxxx"
                            ],
                            "shipping_prices": [
                              {
                                "variant_ids": [
                                  "9eee699559924f9db48eced2ae2395c3"
                                ],
                                "external_ecommerce_variant_ids": [
                                  "544454"
                                ],
                                "shipping_options": [
                                  {
                                    "external_option_id": "879923",
                                    "shipping_method": "ePacket",
                                    "country": "ALA",
                                    "shipping_time_sla": "2 - 3 Business days",
                                    "price": [
                                      {
                                        "unit": 1,
                                        "amount": 4,
                                        "currency": "USD"
                                      }
                                    ]
                                  }
                                ],
                                "metrics": {
                                  "updated_at": "2019-11-06T02:54:27+00:00"
                                }
                              }
                            ],
                            "options": [
                              {
                                "name": "Color",
                                "values": [
                                  "Black",
                                  "Greep",
                                  "Red"
                                ]
                              },
                              {
                                "name": "length",
                                "values": [
                                  "2m",
                                  "3m"
                                ]
                              }
                            ],
                            "variants": [
                              {
                                "id": "9eee699559924f9db48eced2ae2395c3",
                                "universal_id": "8eee699559924f9db48eced2ae239iii",
                                "external_vendor_variant_id": "544454",
                                "sku": "198762889",
                                "upc": "",
                                "ean": "",
                                "mpn": "",
                                "model": "VC74LI",
                                "title": "Tea Cup 100x Green",
                                "available_quantity": 12,
                                "warehouse": {
                                  "country": "HKG"
                                },
                                "price": {
                                  "amount": 100,
                                  "currency": "USD"
                                },
                                "unit": "1 pcs",
                                "weight": {
                                  "unit": "kg",
                                  "value": 120
                                },
                                "image_urls": [
                                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                                ],
                                "sort": 1,
                                "options": [
                                  {
                                    "name": "Color",
                                    "value": "Black"
                                  },
                                  {
                                    "name": "length",
                                    "value": "2m"
                                  }
                                ]
                              }
                            ],
                            "metrics": {
                              "updated_at": "2019-11-06T02:54:27+00:00",
                              "created_at": "2019-11-06T02:52:27+00:00"
                            },
                            "updated_at": "2019-11-06T02:54:27+00:00",
                            "created_at": "2019-11-06T02:52:27+00:00"
                          }
                        ],
                        "pagination": {
                          "page": 1,
                          "limit": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "page"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "limit"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "am-api-key",
            "description": "Gateway api key"
          }
        ],
        "tags": [
          "Api"
        ]
      },
      "post": {
        "summary": "POST /v1/products",
        "operationId": "post-v1-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "./common/model/meta.20100.v1.json"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "product": {
                          "$ref": "#/components/schemas/response.get.vendor-products"
                        },
                        "parameter_string": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "meta": {
                        "code": 20100,
                        "type": "Created",
                        "message": "The request was successful, we created a new resource and the response body contains the representation."
                      },
                      "data": {
                        "product": {
                          "id": "9eee699559924f9db48eced2ae239544",
                          "external_vendor_product_id": "7445458",
                          "universal_id": "8eee699559924f9db48eced2ae239iii",
                          "supplier": {
                            "id": "uuid",
                            "name": "Eprolo",
                            "code": "eprolo"
                          },
                          "title": "Tea Cup 100x",
                          "body_html": "The best new cpu<br />New Product",
                          "categories": [
                            {
                              "id": "kiuee699559924f9db48eced2ae23987h",
                              "name": "Fashion",
                              "code": "fashion"
                            }
                          ],
                          "tags": [],
                          "keywords": [],
                          "available_to_sell": true,
                          "accept_refund": true,
                          "accept_returns": true,
                          "brand": {
                            "name": "Lego"
                          },
                          "condition": "new",
                          "image_urls": [
                            "https://www.am-static.com/supplier/images/xxxxx"
                          ],
                          "shipping_prices": [
                            {
                              "variant_ids": [
                                "9eee699559924f9db48eced2ae2395c3"
                              ],
                              "external_ecommerce_variant_ids": [
                                "544454"
                              ],
                              "shipping_options": [
                                {
                                  "external_option_id": "879923",
                                  "shipping_method": "ePacket",
                                  "country": "ALA",
                                  "shipping_time_sla": "2 - 3 Business days",
                                  "price": [
                                    {
                                      "unit": 1,
                                      "amount": 4,
                                      "currency": "USD"
                                    }
                                  ]
                                }
                              ],
                              "metrics": {
                                "updated_at": "2019-11-06T02:54:27+00:00"
                              }
                            }
                          ],
                          "options": [
                            {
                              "name": "Color",
                              "values": [
                                "Black",
                                "Greep",
                                "Red"
                              ]
                            },
                            {
                              "name": "length",
                              "values": [
                                "2m",
                                "3m"
                              ]
                            }
                          ],
                          "variants": [
                            {
                              "id": "9eee699559924f9db48eced2ae2395c3",
                              "universal_id": "8eee699559924f9db48eced2ae239iii",
                              "external_vendor_variant_id": "544454",
                              "sku": "198762889",
                              "upc": "",
                              "ean": "",
                              "mpn": "",
                              "model": "VC74LI",
                              "title": "Tea Cup 100x Green",
                              "available_quantity": 12,
                              "warehouse": {
                                "country": "HKG"
                              },
                              "price": {
                                "amount": 100,
                                "currency": "USD"
                              },
                              "unit": "1 pcs",
                              "weight": {
                                "unit": "kg",
                                "value": 120
                              },
                              "image_urls": [
                                "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                              ],
                              "sort": 1,
                              "options": [
                                {
                                  "name": "Color",
                                  "value": "Black"
                                },
                                {
                                  "name": "length",
                                  "value": "2m"
                                }
                              ]
                            }
                          ],
                          "metrics": {
                            "updated_at": "2019-11-06T02:54:27+00:00",
                            "created_at": "2019-11-06T02:52:27+00:00"
                          },
                          "updated_at": "2019-11-06T02:54:27+00:00",
                          "created_at": "2019-11-06T02:52:27+00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/request.post.products"
              }
            }
          }
        },
        "tags": [
          "Api"
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "response.supplier": {
        "title": "supplier",
        "type": "object",
        "description": "供应商信息",
        "x-examples": {
          "example": {
            "id": "uuid",
            "name": "Eprolo",
            "code": "eprolo"
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "code"
        ]
      },
      "category": {
        "title": "category",
        "type": "object",
        "x-examples": {
          "example": {
            "id": "kiuee699559924f9db48eced2ae23987h",
            "name": "Fashion",
            "code": "fashion"
          }
        },
        "description": "category",
        "x-tags": [],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "code"
        ]
      },
      "shipping_option": {
        "title": "shipping_option",
        "type": "object",
        "x-examples": {
          "example": {
            "external_option_id": "879923",
            "shipping_method": "ePacket",
            "country": "ALA",
            "shipping_time_sla": "2 - 3 Business days",
            "price": [
              {
                "unit": 1,
                "amount": 4,
                "currency": "USD"
              }
            ]
          }
        },
        "description": "shipping_option",
        "x-tags": [],
        "properties": {
          "external_option_id": {
            "type": "string",
            "description": "it should be epro shipment template ID"
          },
          "shipping_method": {
            "type": "string",
            "description": "the name of the \"service\": DHL Next Day, China EMS"
          },
          "country": {
            "type": "string"
          },
          "shipping_time_sla": {
            "type": "string"
          },
          "price": {
            "type": "array",
            "items": {
              "$ref": "./common/model/price.v1.json"
            }
          }
        },
        "required": [
          "external_option_id",
          "shipping_method",
          "country",
          "price"
        ]
      },
      "shipping_price": {
        "title": "shipping_prices",
        "type": "object",
        "description": "shipping_prices",
        "properties": {
          "variant_ids": {
            "type": "string"
          },
          "external_ecommerce_variant_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shipping_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shipping_option"
            }
          },
          "metrics": {
            "type": "object",
            "required": [
              "updated_at"
            ],
            "properties": {
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        },
        "required": [
          "variant_ids",
          "external_ecommerce_variant_ids",
          "shipping_options",
          "metrics"
        ]
      },
      "option": {
        "title": "option",
        "type": "object",
        "description": "options for products",
        "properties": {
          "name": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "values"
        ]
      },
      "request.patch.products": {
        "title": "request.patch.products",
        "type": "object",
        "x-examples": {
          "example": {
            "external_vendor_product_id": "7445458",
            "universal_id": "8eee699559924f9db48eced2ae239iii",
            "supplier": {
              "name": "Eprolo",
              "code": "eprolo"
            },
            "title": "Tea Cup 100x",
            "body_html": "The best new cpu<br />New Product",
            "categories": [
              {
                "name": "Fashion",
                "code": "fashion"
              }
            ],
            "available_to_sell": true,
            "accept_refund": true,
            "accept_returns": true,
            "brand": {
              "name": "Lego"
            },
            "condition": "new",
            "image_urls": [
              "https://www.am-static.com/supplier/images/xxxxx"
            ],
            "shipping_prices": [
              {
                "variant_ids": [
                  "9eee699559924f9db48eced2ae2395c3"
                ],
                "external_ecommerce_variant_ids": [
                  "544454"
                ],
                "shipping_options": [
                  {
                    "external_option_id": "879923",
                    "shipping_method": "ePacket",
                    "country": "ALA",
                    "shipping_time_sla": "2 - 3 Business days",
                    "price": [
                      {
                        "unit": 1,
                        "amount": 4,
                        "currency": "USD"
                      }
                    ]
                  }
                ],
                "metrics": {
                  "updated_at": "2019-11-06T02:54:27+00:00"
                }
              }
            ],
            "options": [
              {
                "name": "Color",
                "values": [
                  "Black",
                  "Greep",
                  "Red"
                ]
              },
              {
                "name": "length",
                "values": [
                  "2m",
                  "3m"
                ]
              }
            ],
            "variants": [
              {
                "id": "9eee699559924f9db48eced2ae2395c3",
                "universal_id": "8eee699559924f9db48eced2ae239iii",
                "external_vendor_variant_id": "544454",
                "sku": "198762889",
                "upc": "",
                "ean": "",
                "mpn": "",
                "model": "VC74LI",
                "title": "Tea Cup 100x Green",
                "available_quantity": 12,
                "warehouse": {
                  "country": "HKG"
                },
                "price": {
                  "amount": 100,
                  "currency": "USD"
                },
                "unit": "1 pcs",
                "weight": {
                  "unit": "kg",
                  "value": 120
                },
                "image_urls": [
                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                ],
                "sort": 1,
                "options": [
                  {
                    "name": "Color",
                    "value": "Black"
                  },
                  {
                    "name": "length",
                    "value": "2m"
                  }
                ]
              }
            ],
            "metrics": {
              "updated_at": "2019-11-06T02:54:27+00:00",
              "created_at": "2019-11-06T02:52:27+00:00"
            }
          }
        },
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_vendor_product_id": {
            "type": "string",
            "description": "supplier's product id"
          },
          "universal_id": {
            "type": "string",
            "description": "a uuid-v4 c的统一标识"
          },
          "supplier": {
            "$ref": "#/components/schemas/response.supplier"
          },
          "title": {
            "type": "string",
            "description": ""
          },
          "body_html": {
            "type": "string",
            "description": "描述：支持多种格式（html, text）"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "available_to_sell": {
            "type": "boolean",
            "description": "true of false, it will be false, say no stock, or manually mark it to false\ntrue:  describe if supplier can allow us refund\nfalse: describe if supplier can not allow us refund"
          },
          "accept_refund": {
            "type": "boolean"
          },
          "accept_returns": {
            "type": "boolean"
          },
          "brand": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "condition": {
            "type": "string",
            "enum": [
              "new",
              "new_other",
              "new_with_defects",
              "refurbished",
              "seller_refurbished",
              "use_like_new",
              "used_very_good",
              "used_good",
              "use_acceptable",
              "open_box_good",
              "open_box_acceptable",
              "open_box_like_new"
            ]
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "shipping_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shipping_price"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/option"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/request.variant"
            }
          },
          "metrics": {
            "type": "object",
            "required": [
              "updated_at",
              "created_at"
            ],
            "properties": {
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "external_vendor_product_id",
          "supplier",
          "title",
          "categories",
          "available_to_sell",
          "brand",
          "image_urls",
          "shipping_prices",
          "options",
          "variants",
          "metrics"
        ]
      },
      "request.post.products": {
        "title": "request.post.products",
        "type": "object",
        "x-examples": {
          "example": {
            "external_vendor_product_id": "7445458",
            "universal_id": "8eee699559924f9db48eced2ae239iii",
            "supplier": {
              "id": "uuid",
              "name": "Eprolo",
              "code": "eprolo"
            },
            "title": "Tea Cup 100x",
            "body_html": "The best new cpu<br />New Product",
            "categories": [
              {
                "name": "Fashion",
                "code": "fashion"
              }
            ],
            "available_to_sell": true,
            "accept_refund": true,
            "accept_returns": true,
            "brand": {
              "name": "Lego"
            },
            "condition": "new",
            "image_urls": [
              "https://www.am-static.com/supplier/images/xxxxx"
            ],
            "shipping_prices": [
              {
                "variant_ids": [
                  "9eee699559924f9db48eced2ae2395c3"
                ],
                "external_ecommerce_variant_ids": [
                  "544454"
                ],
                "shipping_options": [
                  {
                    "external_option_id": "879923",
                    "shipping_method": "ePacket",
                    "country": "ALA",
                    "shipping_time_sla": "2 - 3 Business days",
                    "price": [
                      {
                        "unit": 1,
                        "amount": 4,
                        "currency": "USD"
                      }
                    ]
                  }
                ],
                "metrics": {
                  "updated_at": "2019-11-06T02:54:27+00:00"
                }
              }
            ],
            "options": [
              {
                "name": "Color",
                "values": [
                  "Black",
                  "Greep",
                  "Red"
                ]
              },
              {
                "name": "length",
                "values": [
                  "2m",
                  "3m"
                ]
              }
            ],
            "variants": [
              {
                "universal_id": "8eee699559924f9db48eced2ae239iii",
                "external_vendor_variant_id": "544454",
                "sku": "198762889",
                "upc": "",
                "ean": "",
                "mpn": "",
                "model": "VC74LI",
                "title": "Tea Cup 100x Green",
                "available_quantity": 12,
                "warehouse": {
                  "country": "HKG"
                },
                "price": {
                  "amount": 100,
                  "currency": "USD"
                },
                "unit": "1 pcs",
                "weight": {
                  "unit": "kg",
                  "value": 120
                },
                "image_urls": [
                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                ],
                "sort": 1,
                "options": [
                  {
                    "name": "Color",
                    "value": "Black"
                  },
                  {
                    "name": "length",
                    "value": "2m"
                  }
                ]
              }
            ],
            "metrics": {
              "updated_at": "2019-11-06T02:54:27+00:00",
              "created_at": "2019-11-06T02:52:27+00:00"
            }
          }
        },
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_vendor_product_id": {
            "type": "string",
            "description": "supplier's product id"
          },
          "universal_id": {
            "type": "string",
            "description": "a uuid-v4 c的统一标识"
          },
          "supplier": {
            "$ref": "#/components/schemas/response.supplier"
          },
          "title": {
            "type": "string",
            "description": ""
          },
          "body_html": {
            "type": "string",
            "description": "描述：支持多种格式（html, text）"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "available_to_sell": {
            "type": "boolean",
            "description": "true of false, it will be false, say no stock, or manually mark it to false\ntrue:  describe if supplier can allow us refund\nfalse: describe if supplier can not allow us refund"
          },
          "accept_refund": {
            "type": "boolean"
          },
          "accept_returns": {
            "type": "boolean"
          },
          "brand": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "condition": {
            "type": "string",
            "enum": [
              "new",
              "new_other",
              "new_with_defects",
              "refurbished",
              "seller_refurbished",
              "use_like_new",
              "used_very_good",
              "used_good",
              "use_acceptable",
              "open_box_good",
              "open_box_acceptable",
              "open_box_like_new"
            ]
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "shipping_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shipping_price"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/option"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/request.variant"
            }
          },
          "metrics": {
            "type": "object",
            "required": [
              "updated_at",
              "created_at"
            ],
            "properties": {
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "external_vendor_product_id",
          "supplier",
          "title",
          "categories",
          "available_to_sell",
          "brand",
          "image_urls",
          "shipping_prices",
          "options",
          "variants",
          "metrics"
        ]
      },
      "response.get.vendor-products": {
        "title": "response-vendor-products",
        "type": "object",
        "x-examples": {
          "example": {
            "id": "9eee699559924f9db48eced2ae239544",
            "external_vendor_product_id": "7445458",
            "universal_id": "8eee699559924f9db48eced2ae239iii",
            "supplier": {
              "id": "uuid",
              "name": "Eprolo",
              "code": "eprolo"
            },
            "title": "Tea Cup 100x",
            "body_html": "The best new cpu<br />New Product",
            "categories": [
              {
                "id": "kiuee699559924f9db48eced2ae23987h",
                "name": "Fashion",
                "code": "fashion"
              }
            ],
            "available_to_sell": true,
            "accept_refund": true,
            "accept_returns": true,
            "brand": {
              "name": "Lego"
            },
            "condition": "new",
            "image_urls": [
              "https://www.am-static.com/supplier/images/xxxxx"
            ],
            "shipping_prices": [
              {
                "variant_ids": [
                  "9eee699559924f9db48eced2ae2395c3"
                ],
                "external_ecommerce_variant_ids": [
                  "544454"
                ],
                "shipping_options": [
                  {
                    "external_option_id": "879923",
                    "shipping_method": "ePacket",
                    "country": "ALA",
                    "shipping_time_sla": "2 - 3 Business days",
                    "price": [
                      {
                        "unit": 1,
                        "amount": 4,
                        "currency": "USD"
                      }
                    ]
                  }
                ],
                "metrics": {
                  "updated_at": "2019-11-06T02:54:27+00:00"
                }
              }
            ],
            "options": [
              {
                "name": "Color",
                "values": [
                  "Black",
                  "Greep",
                  "Red"
                ]
              },
              {
                "name": "length",
                "values": [
                  "2m",
                  "3m"
                ]
              }
            ],
            "variants": [
              {
                "id": "9eee699559924f9db48eced2ae2395c3",
                "universal_id": "8eee699559924f9db48eced2ae239iii",
                "external_vendor_variant_id": "544454",
                "sku": "198762889",
                "upc": "",
                "ean": "",
                "mpn": "",
                "model": "VC74LI",
                "title": "Tea Cup 100x Green",
                "available_quantity": 12,
                "warehouse": {
                  "country": "HKG"
                },
                "price": {
                  "amount": 100,
                  "currency": "USD"
                },
                "unit": "1 pcs",
                "weight": {
                  "unit": "kg",
                  "value": 120
                },
                "image_urls": [
                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                ],
                "sort": 1,
                "options": [
                  {
                    "name": "Color",
                    "value": "Black"
                  },
                  {
                    "name": "length",
                    "value": "2m"
                  }
                ]
              }
            ],
            "metrics": {
              "updated_at": "2019-11-06T02:54:27+00:00",
              "created_at": "2019-11-06T02:52:27+00:00"
            },
            "updated_at": "2019-11-06T02:54:27+00:00",
            "created_at": "2019-11-06T02:52:27+00:00"
          }
        },
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_vendor_product_id": {
            "type": "string",
            "description": "supplier's product id"
          },
          "universal_id": {
            "type": "string",
            "description": "a uuid-v4 c的统一标识"
          },
          "supplier": {
            "$ref": "#/components/schemas/response.supplier"
          },
          "title": {
            "type": "string",
            "description": ""
          },
          "body_html": {
            "type": "string",
            "description": "描述：支持多种格式（html, text）"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "available_to_sell": {
            "type": "boolean",
            "description": "true of false, it will be false, say no stock, or manually mark it to false\ntrue:  describe if supplier can allow us refund\nfalse: describe if supplier can not allow us refund"
          },
          "accept_refund": {
            "type": "boolean"
          },
          "accept_returns": {
            "type": "boolean"
          },
          "brand": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "condition": {
            "type": "string",
            "enum": [
              "new",
              "new_other",
              "new_with_defects",
              "refurbished",
              "seller_refurbished",
              "use_like_new",
              "used_very_good",
              "used_good",
              "use_acceptable",
              "open_box_good",
              "open_box_acceptable",
              "open_box_like_new"
            ]
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "shipping_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shipping_price"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/option"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/request.variant"
            }
          },
          "metrics": {
            "type": "object",
            "required": [
              "updated_at",
              "created_at"
            ],
            "properties": {
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_vendor_product_id",
          "universal_id",
          "supplier",
          "title",
          "body_html",
          "categories",
          "available_to_sell",
          "accept_refund",
          "accept_returns",
          "brand",
          "condition",
          "image_urls",
          "shipping_prices",
          "options",
          "variants",
          "metrics",
          "updated_at",
          "created_at"
        ]
      },
      "response.get.products": {
        "title": "response-vendor-products",
        "type": "object",
        "x-examples": {
          "example": {
            "id": "9eee699559924f9db48eced2ae239544",
            "external_vendor_product_id": "7445458",
            "universal_id": "8eee699559924f9db48eced2ae239iii",
            "supplier": {
              "id": "uuid",
              "name": "Eprolo",
              "code": "eprolo"
            },
            "title": "Tea Cup 100x",
            "body_html": "The best new cpu<br />New Product",
            "categories": [
              {
                "id": "kiuee699559924f9db48eced2ae23987h",
                "name": "Fashion",
                "code": "fashion"
              }
            ],
            "tags": [],
            "keywords": [],
            "available_to_sell": true,
            "accept_refund": true,
            "accept_returns": true,
            "brand": {
              "name": "Lego"
            },
            "condition": "new",
            "image_urls": [
              "https://www.am-static.com/supplier/images/xxxxx"
            ],
            "shipping_prices": [
              {
                "variant_ids": [
                  "9eee699559924f9db48eced2ae2395c3"
                ],
                "external_ecommerce_variant_ids": [
                  "544454"
                ],
                "shipping_options": [
                  {
                    "external_option_id": "879923",
                    "shipping_method": "ePacket",
                    "country": "ALA",
                    "shipping_time_sla": "2 - 3 Business days",
                    "price": [
                      {
                        "unit": 1,
                        "amount": 4,
                        "currency": "USD"
                      }
                    ]
                  }
                ],
                "metrics": {
                  "updated_at": "2019-11-06T02:54:27+00:00"
                }
              }
            ],
            "options": [
              {
                "name": "Color",
                "values": [
                  "Black",
                  "Greep",
                  "Red"
                ]
              },
              {
                "name": "length",
                "values": [
                  "2m",
                  "3m"
                ]
              }
            ],
            "variants": [
              {
                "id": "9eee699559924f9db48eced2ae2395c3",
                "universal_id": "8eee699559924f9db48eced2ae239iii",
                "external_vendor_variant_id": "544454",
                "sku": "198762889",
                "upc": "",
                "ean": "",
                "mpn": "",
                "model": "VC74LI",
                "title": "Tea Cup 100x Green",
                "available_quantity": 12,
                "warehouse": {
                  "country": "HKG"
                },
                "price": {
                  "amount": 100,
                  "currency": "USD"
                },
                "unit": "1 pcs",
                "weight": {
                  "unit": "kg",
                  "value": 120
                },
                "image_urls": [
                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                ],
                "sort": 1,
                "options": [
                  {
                    "name": "Color",
                    "value": "Black"
                  },
                  {
                    "name": "length",
                    "value": "2m"
                  }
                ]
              }
            ],
            "metrics": {
              "updated_at": "2019-11-06T02:54:27+00:00",
              "created_at": "2019-11-06T02:52:27+00:00"
            },
            "updated_at": "2019-11-06T02:54:27+00:00",
            "created_at": "2019-11-06T02:52:27+00:00"
          }
        },
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_vendor_product_id": {
            "type": "string",
            "description": "supplier's product id"
          },
          "universal_id": {
            "type": "string",
            "description": "a uuid-v4 c的统一标识"
          },
          "supplier": {
            "$ref": "#/components/schemas/response.supplier"
          },
          "title": {
            "type": "string",
            "description": ""
          },
          "body_html": {
            "type": "string",
            "description": "描述：支持多种格式（html, text）"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "available_to_sell": {
            "type": "boolean",
            "description": "true of false, it will be false, say no stock, or manually mark it to false\ntrue:  describe if supplier can allow us refund\nfalse: describe if supplier can not allow us refund"
          },
          "accept_refund": {
            "type": "boolean"
          },
          "accept_returns": {
            "type": "boolean"
          },
          "brand": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "condition": {
            "type": "string",
            "enum": [
              "new",
              "new_other",
              "new_with_defects",
              "refurbished",
              "seller_refurbished",
              "use_like_new",
              "used_very_good",
              "used_good",
              "use_acceptable",
              "open_box_good",
              "open_box_acceptable",
              "open_box_like_new"
            ]
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "shipping_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shipping_price"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/option"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/response.variant"
            }
          },
          "metrics": {
            "type": "object",
            "required": [
              "updated_at",
              "created_at"
            ],
            "properties": {
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_vendor_product_id",
          "universal_id",
          "supplier",
          "title",
          "body_html",
          "categories",
          "tags",
          "keywords",
          "available_to_sell",
          "accept_refund",
          "accept_returns",
          "brand",
          "condition",
          "image_urls",
          "shipping_prices",
          "options",
          "variants",
          "metrics",
          "updated_at",
          "created_at"
        ]
      },
      "response.variant": {
        "title": "response.variant",
        "type": "object",
        "description": "variant",
        "x-examples": {
          "example": {
            "id": "9eee699559924f9db48eced2ae2395c3",
            "universal_id": "8eee699559924f9db48eced2ae239iii",
            "external_vendor_variant_id": "544454",
            "sku": "198762889",
            "upc": "",
            "ean": "",
            "mpn": "",
            "model": "VC74LI",
            "title": "Tea Cup 100x Green",
            "available_quantity": 12,
            "warehouse": {
              "country": "HKG"
            },
            "price": {
              "amount": 100,
              "currency": "USD"
            },
            "unit": "1 pcs",
            "weight": {
              "unit": "kg",
              "value": 120
            },
            "image_urls": [
              "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
            ],
            "sort": 1,
            "options": [
              {
                "name": "Color",
                "value": "Black"
              },
              {
                "name": "length",
                "value": "2m"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "universal_id": {
            "type": "string"
          },
          "external_vendor_variant_id": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "upc": {
            "type": "string"
          },
          "ean": {
            "type": "string"
          },
          "mpn": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "available_quantity": {
            "type": "string"
          },
          "warehouse": {
            "type": "object",
            "required": [
              "country"
            ],
            "properties": {
              "country": {
                "type": "string",
                "description": "it is a full address object if we need to extend"
              }
            }
          },
          "price": {
            "type": "object",
            "required": [
              "amount",
              "currency"
            ],
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "unit": {
            "type": "string"
          },
          "weight": {
            "$ref": "./common/model/weight.v1.json"
          },
          "images_urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sort": {
            "type": "integer"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/option"
            }
          }
        },
        "required": [
          "id",
          "universal_id",
          "external_vendor_variant_id",
          "sku",
          "upc",
          "ean",
          "mpn",
          "model",
          "title",
          "available_quantity",
          "warehouse",
          "price",
          "unit",
          "weight",
          "images_urls",
          "sort",
          "options"
        ]
      },
      "request.variant": {
        "title": "request.variant",
        "type": "object",
        "description": "variant",
        "x-examples": {
          "example": {
            "universal_id": "8eee699559924f9db48eced2ae239iii",
            "external_vendor_variant_id": "544454",
            "sku": "198762889",
            "upc": "",
            "ean": "",
            "mpn": "",
            "model": "VC74LI",
            "title": "Tea Cup 100x Green",
            "available_quantity": 12,
            "warehouse": {
              "country": "HKG"
            },
            "price": {
              "amount": 100,
              "currency": "USD"
            },
            "unit": "1 pcs",
            "weight": {
              "unit": "kg",
              "value": 120
            },
            "image_urls": [
              "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
            ],
            "sort": 1,
            "options": [
              {
                "name": "Color",
                "value": "Black"
              },
              {
                "name": "length",
                "value": "2m"
              }
            ]
          }
        },
        "properties": {
          "external_vendor_variant_id": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "upc": {
            "type": "string"
          },
          "ean": {
            "type": "string"
          },
          "mpn": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "description": "型号"
          },
          "title": {
            "type": "string"
          },
          "available_quantity": {
            "type": "string"
          },
          "warehouse": {
            "type": "object",
            "required": [
              "country"
            ],
            "properties": {
              "country": {
                "type": "string",
                "description": "it is a full address object if we need to extend"
              }
            }
          },
          "price": {
            "type": "object",
            "required": [
              "amount",
              "currency"
            ],
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "unit": {
            "type": "string",
            "description": "// 1 pair, 1 pcs, 10 pcs, 100 pcs, 1 打, etc"
          },
          "weight": {
            "$ref": "common/model/weight.v1.json"
          },
          "images_urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sort": {
            "type": "integer"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/variant.option"
            }
          }
        },
        "required": [
          "external_vendor_variant_id",
          "sku",
          "title",
          "warehouse",
          "price",
          "unit",
          "weight",
          "images_urls",
          "options"
        ]
      },
      "request.post.vendor-product": {
        "title": "request.product",
        "type": "object",
        "description": "",
        "x-examples": {
          "example": {
            "external_vendor_product_id": "7445458",
            "supplier": {
              "name": "Eprolo",
              "code": "eprolo"
            },
            "title": "Tea Cup 100x",
            "body_html": "The best new cpu<br />New Product",
            "categories": [
              {
                "name": "Fashion",
                "code": "fashion"
              }
            ],
            "available_to_sell": true,
            "accept_refund": true,
            "accept_returns": true,
            "brand": {
              "name": "Lego"
            },
            "condition": "new",
            "image_urls": [
              "https://www.am-static.com/supplier/images/xxxxx"
            ],
            "shipping_prices": [
              {
                "variant_ids": [
                  "9eee699559924f9db48eced2ae2395c3"
                ],
                "external_ecommerce_variant_ids": [
                  "544454"
                ],
                "shipping_options": [
                  {
                    "external_option_id": "879923",
                    "shipping_method": "ePacket",
                    "country": "ALA",
                    "shipping_time_sla": "2 - 3 Business days",
                    "price": [
                      {
                        "unit": 1,
                        "amount": 4,
                        "currency": "USD"
                      }
                    ]
                  }
                ],
                "metrics": {
                  "updated_at": "2019-11-06T02:54:27+00:00"
                }
              }
            ],
            "options": [
              {
                "name": "Color",
                "values": [
                  "Black",
                  "Greep",
                  "Red"
                ]
              },
              {
                "name": "length",
                "values": [
                  "2m",
                  "3m"
                ]
              }
            ],
            "variants": [
              {
                "external_vendor_variant_id": "544454",
                "sku": "198762889",
                "upc": "",
                "ean": "",
                "mpn": "",
                "model": "VC74LI",
                "title": "Tea Cup 100x Green",
                "available_quantity": 12,
                "warehouse": {
                  "country": "HKG"
                },
                "price": {
                  "amount": 100,
                  "currency": "USD"
                },
                "unit": "1 pcs",
                "weight": {
                  "unit": "kg",
                  "value": 120
                },
                "image_urls": [
                  "http://wordpress-5.2-dev.aftershipdemo.com/wp-content/uploads/2019/05/56a2e3a78357ccde678f88bebfffdd7b.jpg"
                ],
                "sort": 1,
                "options": [
                  {
                    "name": "Color",
                    "value": "Black"
                  },
                  {
                    "name": "length",
                    "value": "2m"
                  }
                ]
              }
            ],
            "metrics": {
              "updated_at": "2019-11-06T02:54:27+00:00",
              "created_at": "2019-11-06T02:52:27+00:00"
            }
          }
        },
        "properties": {
          "external_vendor_product_id": {
            "type": "string",
            "description": "supplier's product id"
          },
          "supplier": {
            "$ref": "#/components/schemas/request.supplier"
          },
          "title": {
            "type": "string",
            "description": ""
          },
          "body_html": {
            "type": "string",
            "description": "描述：支持多种格式（html, text）"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "available_to_sell": {
            "type": "boolean",
            "description": "true of false, it will be false, say no stock, or manually mark it to false\ntrue:  describe if supplier can allow us refund\nfalse: describe if supplier can not allow us refund"
          },
          "accept_refund": {
            "type": "boolean",
            "description": "true:  describe if supplier can allow us refund\nfalse: describe if supplier can not allow us refund"
          },
          "accept_returns": {
            "type": "boolean",
            "description": "true:  describe if supplier can allow us return\nfalse: describe if supplier can not allow us return\n"
          },
          "brand": {
            "type": "object",
            "required": [
              "name",
              "code"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "shipping_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shipping_price"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/option"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/response.variant"
            }
          },
          "metrics": {
            "type": "object",
            "required": [
              "created_at"
            ],
            "properties": {
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        },
        "required": [
          "external_vendor_product_id",
          "supplier",
          "title",
          "categories",
          "available_to_sell",
          "brand",
          "image_urls",
          "shipping_prices",
          "options",
          "variants",
          "metrics"
        ]
      },
      "request.supplier": {
        "title": "request.supplier",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "供应商码，hard code,如:eprolo"
          },
          "name": {
            "type": "string",
            "description": "供应商名，hard code,如:Eprolo"
          }
        },
        "required": [
          "code"
        ]
      },
      "variant.option": {
        "title": "variant.option",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "required": [
            "name",
            "value"
          ]
        }
      }
    }
  }
}